---
import { getI18N, type langs } from "../../i18n/handler";
import Section from "../section.astro";
import ProjectCard from "./ProjectCard.astro";

const { PROJECTS } = getI18N({ currentLocale: Astro.currentLocale as langs });
---

<Section name={PROJECTS.TITLE} id="projects" icon="bi bi-code-slash">
    <ul class="grid-cols-2 md:grid-cols-3 gap-3 inline-grid items-stretch">
        {
            PROJECTS.PROJECTS.map(({ description, img, name, url }) => (
                <ProjectCard {url} {img} {name} {description} />
            ))
        }
    </ul>
</Section>
